html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content {
    width: 70vw;
  display: flex;
  flex-direction: column;
 
}

.heading-div {
    width: 70vw;
    display: flex;
    justify-content: center;
}

.button-div {
    width: 70vw;
    display: flex;
    justify-content: space-around;
}


  
  .project-button  {
    background: #5E5DF0;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 1;
  }
  
  .project-button  {
      -webkit-box-shadow: inset 0px 0px 5px #5E5DF0;
         -moz-box-shadow: inset 0px 0px 5px #5E5DF0;
              box-shadow: inset 0px 0px 5px #5E5DF0;
       outline: none;
    }
  

    .task-button  {
        background: #81f209;
        border-radius: 999px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 1;
      }
      
      .task-button  {
          -webkit-box-shadow: inset 0px 0px 5px #81f209;
             -moz-box-shadow: inset 0px 0px 5px #81f209;
                  box-shadow: inset 0px 0px 5px #81f209;
           outline: none;
        }

        .seperation-div {
            width: 70vw;
            background-color: rgb(169, 169, 169);
            height: 10px;
            border-radius: 10px;
            border: solid 1px black;
            margin-top: 10px;
        }


        .bg-modal {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
            top: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
        }

        .modal-content {
            width: 500px;
            height: 400px;
            background-color: white;
            border-radius: 4px;
            position: relative;
        }

        form {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            text-align: center;
        }

        input {
            width: 50%;
          
        }

        label {
         margin-bottom: -15px;
         margin-top: 15px;
         font-weight: bold;
        }

        .submitButton {
            margin: 15px;
        }

        .radio-div {
            display: flex;
        }

        .high {
          margin-left: 0px;
        }

        .medium {
        margin-left: 100px;
        }

        .low {
            margin-left: 100px;
        }
     
       form, p {
        margin-bottom: -1px;
       }

       .close {
        position: absolute;
        top: 0;
        right: 14px;
        font-size: 42px;
        transform: rotate(45deg);
        cursor: pointer;
       }

       .note-modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        top: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .mote-content {
        width: 500px;
        height: 400px;
        background-color: white;
        border-radius: 4px;
        position: relative;
    }

    form {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .note-close {
        position: absolute;
        top: 0;
        right: 14px;
        font-size: 42px;
        transform: rotate(45deg);
        cursor: pointer;
       }

       .noteButton {
        margin: 15px;
    }

    input[name="note"] {
        height: 200px;
        line-height: 1;
    }

    input[name="note"]::placeholder {
        text-align: left;
        vertical-align: top;
      }

      .inner-project-div {
        width: 1200px;
        height: 100vh;
        margin-left: -100px;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        border-radius: 5px;
      }

      .project-rec {
        height:500px;
        width: 400px;
        border-radius: 4px;
        border: gray solid 5px;
      }

      .project-info {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
      }

      .project-title {
        width: 100%;
        height: 33.3%;
        border-bottom: gray solid 4px;
      }

      .project-description {
        width: 100%;
        height: 33.3%;
        border-bottom: gray solid 4px;
      }

      .date-priority {
        width: 100%;
        height: 33.3%;
        border-bottom: gray solid 4px;
        display: flex;
        flex-direction: row;
      }

      .date {
        width: 50%;
        height: 100%;
        border-right: gray solid 4px;
      }

      .priority {
        width: 50%;
        height: 100%;
      }
   
      .close-project {
       margin-top: -12.5px;
        margin-left: 380px;
        font-size: 42px;
        transform: rotate(45deg);
        cursor: pointer;
       }